body{
    
   
}
.head-container{
    z-index: 10;
    margin-bottom: 10px ;
    
   
    
}
.side-bar{
    
    /* background-color: rgba(179, 179, 233, 0.3); */
    z-index: 0;
    width: 280px;
    /* border: 1px solid #77aff0; */

}
@media (max-width:600px){.side-bar{
    width: 110px;
    
}
    
}  
    
.body-content{
    flex: 1; 
}
.whole-body{
    display: flex;
    gap: 10px;
    
}
.side-menu{
    list-style-type: none;
    padding: 0px;
    
    
}
.side-list {
    padding-bottom: 0px;
}
.side-list, .a  {
    color: rgb(1, 1, 37);
    display: block;
    text-decoration: none;
    padding-left: 0px; 
}
span{
    color: green;
    padding-left: 0px;
}
.sub-sidebar{
    
    color: blue;
    padding: 0px;
    background-color: white;
    
}
.div-side{
    display: none;
    background-color: white;
    padding: 0px;
    line-height: 30px;
    padding-left: 10px;  
    
}

.side-list, .side-list2, .side-list3, .side-list4{
    border: 1px solid #77aff0;
    width: 100%;
    background-color: rgba(179, 179, 233, 0.3);
    border-right: 1px solid #77aff0;
}
